body {
  display: block;
  font-family: "Volkorn", "Courier New", Courier, monospace;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  display: grid;
  align-self: flex-start;
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 350px;
}

.footer {
  display: flex;
  height: 200px;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 3em;
  color: white;
}

.chute {
  height: 30px;
  font-size: 18px;
  font-style: bold;
  font-family: "Nunito";
  color: black;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  transition: 0.1sg ease-out;
  margin: 5px 5px 5px 5px;
}

.jogar {
  height: 30px;
  font-size: 18px;
  font-style: bold;
  font-family: "Nunito";
  color: black;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  transition: 0.1sg ease-out;
  margin: 5px 5px 5px 5px;
}

.jogar:hover {
  background-color: red;
}

.footer p {
  font-size: 20px;
  font-style: bold;
  font-family: "Nunito";
}
